:root {
    --primary-color: #1E1515;
    --secondary-color: #FBFCFF;
    --dark-color: #000;
    --text-color: #625B5B;
    --text-color02: #656461;
    --white-color: #FFF;
    --bg-color: #F9F8F5;
    --button-color: #C1BEB2;
    --stroke-color: #D9D5CA;
    --review-color: #FFBB00;
}