.button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    color: var(--primary-color);
    background-color: #FFF;
    border-radius: 28px;
}

.button-icon.-iconlg{
    width: 28px;
    height: 28px;
}

.button-icon.-biwhite {
    color: white;
    background-color: var(--primary-color);
}

.button-icon.-bileft {
    margin-left: 0;
    margin-right: 6px;
}

.button-icon.-biright {
    margin-left: 6px;
    margin-right: 0px;
}

.button-icon.-blue {
    color: blue;
}