@import "../variables.css";

.card-title {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--primary-color);
    max-width: 80%;
}

.card-title.-white {
    color: #FFF;
}

@media (max-width: 1200px) {
    .card-title {
        font-size: 1.2em;
    }
}