.card-hire {
    background-color: #FFF;
    
}

.card-hire .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    position: relative;
}

.card-hire .center {
    align-items: center;
}

.card-hire .value {
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    color: var(--primary-color);
    width: 5em;
}

.card-hire .note {
    display: inline-flex;
    color: var(--dark-color);
    font-size: 2em;
    font-weight: 700;
    position: absolute;
    right: 0;
}

.card-hire .note i {
    color: var(--review-color);
}

@media (max-width: 500px) {
    .card-hire {
        padding: 10px;
    }

    .card-hire .note {
        font-size: 1.3em;
    }

    .card-hire .main-button {
        font-size: 0.7em;
        padding: 0.5em 0.8em;
    }
}