.container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 158px;
    width: 100%;
}

.container-row .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 450px;
    margin: 0 auto;
}

.container-row .chart {
    margin: 30px auto;
}

.container-row .main-subtitle {
    margin-bottom: 24px;
}

@media (max-width:  1713px) {
    .container-row .text {
        align-items: center;
    }
}