.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--stroke-color);
    padding: 8.12rem 6.25rem;
    background-color: var(--bg-color);
}

.main-section.-secsmall {
    padding: 3.75rem 6.25rem;
}

.main-section .main-title, 
.main-section .main-subtitle {
    max-width: 600px;
    margin-bottom: 16px;
}

.main-section .main-title.-smwidth {
    max-width: 550px;
}