.main-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-slider .items {
    max-width: 100%;
    overflow: hidden;
}

.main-slider .elements {
    width: 100%;
    display: flex;
    gap: 24px;
    margin-bottom: 60px;
    transform: translateX(0%);
    transition: transform .4s;
}