@import "../variables.css";

.main-searchbox {
    border: 1px solid var(--stroke-color);
    border-radius: 10px;
    padding: 0px 20px;
    max-width: 240px;
}

.main-searchbox .input {
    height: 40px;
    outline: none;
    border: none;
    width: 80%;
    background-color: transparent;
}

.main-searchbox .icon {
    width: 10%;
}

@media (max-width: 1024px) {

    .main-searchbox {
        display: flex;
        padding: 0;
        max-width: 100%;
        width: 100%;
    }
}