@import "../variables.css";

.main-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 6.25em;
    gap: 3.75em;
    background-color: #F9F8F5;
    position: relative;
}

.main-header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-header .actions {
    display: flex;
    gap: 4em;
}

.main-header .right {
    display: flex;
    align-items: center;
    gap: 3.75em;
}

@media (max-width: 1440px) {
    .main-header {
        padding: 2em 1em;
    }

    .main-header .actions {
        gap: 1em;
    }

    .main-header .right {
        gap: 1em;
    }
}

@media (max-width: 1024px) {
    .main-header {
        justify-content: space-between;
    }

    .main-header .menu {
        display: none;
    }

    .main-header > .menu.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 10px;
        background-color: var(--bg-color);
        text-align: center;
    }

    .main-header > .menu.active .icon-close {
        display: block;
    }

    .main-header > .menu.active .actions {
        flex-direction: column;
        gap: 30px;
    }

    .main-header > .menu.active .right {
        flex-direction: column;
        gap: 30px;
        order: -1;
        width: 100%;
    }

    .main-header > .menu.active .headerlogin {
    }
}