@import "../variables.css";

.main-button {
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 1px solid var(--primary-color);
}

.main-button.-transparent {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--text-color);
}

.main-button.-white {
    color: var(--primary-color);
    background-color: #FFF;
    border: #FFF;
}

.main-button.-small {
    padding: 0.5rem 1rem;
}

.main-button.-bw500 {
    font-weight: 500;
}

.main-button.-bw700 {
    font-weight: 700;
}