.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--stroke-color);
    padding: 8.12rem 6.25rem;
    background-color: var(--bg-color);
    overflow: hidden;
}

.main-section.-bgblack {
    background: #000 url(../../assests/img/background-black.png) no-repeat left bottom;
    background-size: contain;
}

.main-section.-secsmall {
    padding: 3.75rem 6.25rem;
}

.main-section .main-title, 
.main-section .main-subtitle {
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .main-section {
        padding: 8.12em 1em;
    }
}