.wrapper-footer {
    padding: 8.125rem 6.25rem 2.5rem 6.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    width: 100%;
    gap: 11.25rem;
    border-bottom: 1px solid var(--stroke-color);
    padding-bottom: 3.75rem;
}